/**********************/
/** FONT ASSIGNMENTS **/
/**********************/
@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-LIGHT.TTF");
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRALIGHT.TTF");
  font-weight: 100;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-SEMIBOLD.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRABOLD.TTF");
  font-weight: 600;
}


:root {
  --base-bg: hsl(259, 53%, 62%);
  --base-container: #FFF8E5;
  --base-txt: #1E1A35;
  --secondary-txt: #867D64;
  --secondary-txt-lt: #CDC7AF;
  --subtle-border: rgba(205, 199, 175, 0.15);
  --shadow: rgba(197, 192, 172, 0.3);

  --accent1-txt: 255, 255, 255;
  --accent1-txt: 255, 255, 255;
  --accent1-txt: 255, 255, 255;

  --accent1: 259, 53%, 62%;
  --accent2: 151, 53%, 62%;
  --accent3: 349, 95%, 62%;
  
  --accent1-dk: 259;
  --accent2-dk: 151;
  --accent3-dk: 349;

  --accent1-lt: 259, 53%;
  --accent2-lt: 151, 53%;
  --accent3-lt: 349, 95%;

  --jakarta: "Plus Jakarta", "Roboto", "sans-serif";
  --robo: "Roboto Slab", serif;
  --overpass: "Overpass", "Work Sans", sans-serif;
  --pioggia: "Pioggia", "Vidaloka", "DM Serif Display", "Libre Baskerville", serif;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--jakarta);
  overflow: hidden;
}

main {
  background-color: hsl(var(--accent2));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeout {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.drawer {
  display: flex;
  align-items: flex-start;
  position: relative;
  animation: fadein 0.4s forwards;
  z-index: 20;
}

.drawer.hiding {
  animation: fadeout 0.2s forwards;
}

.drawer.row {
  flex-direction: row;
  padding: 0 2rem;
}

.drawer.col {
  flex-direction: column;
  padding: 2rem;
}

.drawer.row .inner {
  display: flex;
  align-items: baseline;
}

.drawer h2 {
  text-transform: capitalize;
  margin-right: 1rem;
}

.drawer p {
  margin-right: 1rem;
}

.dresser {
  width: 100vw;
  height: 100vh;
}

.main-frame {
  border-radius: 48px;
  background-color: var(--base-container);
  padding: 2rem;
  transition: width 0.3s cubic-bezier(.5, 0,.5, 1);
  /* transition: width 1s step-start; */
}

.main-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readme {
  padding: 4rem;
  text-align: center;
  width: auto;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 5;
  scrollbar-width: none;
}

.readme::-webkit-scrollbar {
  display: none;
}

.readme p {
  min-width: 50%;
  max-width: 400px;
  margin: 1rem auto;
}

h1 {
  margin-bottom: 0;
}

.subtitle {
  font-family: var(--robo);
  text-transform: uppercase;
  letter-spacing: 1px;
  /* font-size: 13px; */
}

.dpad {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dpad button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--robo);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: var(--secondary-txt-lt);
  transition: color 0.2s;

  width: max-content;
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.dpad button:hover {
  color: var(--secondary-txt);
}

.dpad button::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  background: hsl(var(--accent2));
  border-radius: 16px;
  transition: transform 0.2s;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

.dpad .top {
  top: 0;
  left: calc(50% - 4rem);
  right: 50%;
}

.dpad .top::after {
  transform: rotate(45deg) translate(-2.6rem, -2.6rem);
}

.dpad .top:hover::after {
  transform: rotate(45deg) translate(-2.3rem, -2.3rem);
}

.dpad .lft {
  left: -5rem;
  top: 50%;
  bottom: 50%;
  transform: rotate(-90deg);
}

.dpad .lft::after {
  transform: rotate(135deg) translate(-2.5rem, 2.5rem);
}

.dpad .lft:hover::after {
  transform: rotate(135deg) translate(-2.2rem, 2.2rem);
}

.dpad .rgt {
  right: -5rem;
  top: 50%;
  bottom: 50%;
  transform: rotate(90deg);
}

.dpad .rgt::after {
  transform: rotate(-135deg) translate(2.7rem, 2.7rem);
}

.dpad .rgt:hover::after {
  transform: rotate(-135deg) translate(2.4rem, 2.4rem);
}

.dpad .btm {
  bottom: 0;
  left: calc(50% - 6rem);
  right: 50%;
}

.dpad .btm::after {
  transform: rotate(45deg) translate(2.6rem, 2.6rem);
}

.dpad .btm:hover::after {
  transform: rotate(45deg) translate(2.3rem, 2.3rem);
}

/** HOME... **/
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
