/**********************/
/** FONT ASSIGNMENTS **/
/**********************/
@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-LIGHT.TTF");
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRALIGHT.TTF");
  font-weight: 100;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-SEMIBOLD.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRABOLD.TTF");
  font-weight: 600;
}


:root {
  --base-bg: hsl(259, 53%, 62%);
  --base-container: #FFF8E5;
  --base-txt: #1E1A35;
  --secondary-txt: #867D64;
  --secondary-txt-lt: #CDC7AF;
  --subtle-border: rgba(205, 199, 175, 0.15);
  --shadow: rgba(197, 192, 172, 0.3);

  --accent1-txt: 255, 255, 255;
  --accent1-txt: 255, 255, 255;
  --accent1-txt: 255, 255, 255;

  --accent1: 259, 53%, 62%;
  --accent2: 151, 53%, 62%;
  --accent3: 349, 95%, 62%;
  
  --accent1-dk: 259;
  --accent2-dk: 151;
  --accent3-dk: 349;

  --accent1-lt: 259, 53%;
  --accent2-lt: 151, 53%;
  --accent3-lt: 349, 95%;

  --jakarta: "Plus Jakarta", "Roboto", "sans-serif";
  --robo: "Roboto Slab", serif;
  --overpass: "Overpass", "Work Sans", sans-serif;
  --pioggia: "Pioggia", "Vidaloka", "DM Serif Display", "Libre Baskerville", serif;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--jakarta);
  overflow: hidden;
}

main {
  background-color: hsl(var(--accent2));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 20;
}

.drawer.row {
  flex-direction: row;
  padding: 0 2rem;
}

.drawer.col {
  flex-direction: column;
  padding: 2rem;
}

.drawer.row .inner {
  display: flex;
  align-items: baseline;
}

.drawer h2 {
  text-transform: capitalize;
  margin-right: 1rem;
}

.drawer p {
  margin-right: 1rem;
}

.dresser {
  width: 100vw;
  height: 100vh;
}

.main-frame {
  border-radius: 48px;
  background-color: var(--base-container);
  padding: 2rem;
}

.main-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readme {
  padding: 4rem;
  text-align: center;
  width: auto;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 5;
  scrollbar-width: none;
}

.readme::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-bottom: 0;
}

.subtitle {
  font-family: var(--robo);
  text-transform: uppercase;
  letter-spacing: 1px;
  /* font-size: 13px; */
}

.dpad {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dpad button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--robo);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: var(--secondary-txt-lt);
  transition: color 0.2s;

  width: max-content;
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.dpad button:hover {
  color: var(--secondary-txt);
}

.dpad button::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  background: hsl(var(--accent2));
  border-radius: 16px;
  transition: transform 0.2s;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

.dpad .top {
  top: 0;
  left: calc(50% - 4rem);
  right: 50%;
}

.dpad .top::after {
  transform: rotate(45deg) translate(-2.6rem, -2.6rem);
}

.dpad .top:hover::after {
  transform: rotate(45deg) translate(-2.3rem, -2.3rem);
}

.dpad .lft {
  left: -5rem;
  top: 50%;
  bottom: 50%;
  transform: rotate(-90deg);
}

.dpad .lft::after {
  transform: rotate(135deg) translate(-2.5rem, 2.5rem);
}

.dpad .lft:hover::after {
  transform: rotate(135deg) translate(-2.2rem, 2.2rem);
}

.dpad .rgt {
  right: -5rem;
  top: 50%;
  bottom: 50%;
  transform: rotate(90deg);
}

.dpad .rgt::after {
  transform: rotate(-135deg) translate(2.7rem, 2.7rem);
}

.dpad .rgt:hover::after {
  transform: rotate(-135deg) translate(2.4rem, 2.4rem);
}

.dpad .btm {
  bottom: 0;
  left: calc(50% - 6rem);
  right: 50%;
}

.dpad .btm::after {
  transform: rotate(45deg) translate(2.6rem, 2.6rem);
}

.dpad .btm:hover::after {
  transform: rotate(45deg) translate(2.3rem, 2.3rem);
}